---
layout: default
title: Home
notitle: true
---
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="img/ccsl-banner.jpg">
    </div>
  </div>
</div>
<br>
<h2>Centro de Competência em Software Livre - UFPA</h2>
<p>O Centro de Competência em Software Livre - UFPA (<b>CCSL-UFPA</b>) é um local virtual de estudos, desenvolvimento e elaboração sobre conceitos e metodologias relacionadas às diversas componentes e práticas de comunidades de software livre em geral.</p>
<p>O <b>CCSL-UFPA</b> também atua no treinamento e divulgação de tecnologias livres para estudantes, desenvolvedores e empresas em geral.</p>
<p>Os principais temas que mobilizam as pesquisas do centro são:</p>
<ul>
    <li>Ensino de tecnologias livres para desenvolvimento e infraestrutura;</li>
    <li>Gerenciamento de comunidades;</li>
    <li>Análises sobre dinâmicas de desenvolvedores em comunidades livres;</li>
    <li>Mineração de dados em repositórios de software livre.</li>
</ul>
<p>O <b>CCSL-UFPA</b> está disponível para parcerias e desenvolvimento de projetos relacionados com os temas de interesse dos pesquisadores. <a href='{{ site.base }}/people/'>Contate-nos</a> para maiores informações.</p>
<br>
<h2>Notícias</h2>
<ul class="news">
{% for post in site.posts limit: site.front_page_news %}
    <li>
        <div class="icon"><i class="fa fa-{{ post.category }} fa-fw"></i></div>
        <div class="text">
        <div class="date">{{ post.date | date: '%d/%m/%Y' }}</div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
        </div>
    </li>
{% endfor %}
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
    <li>
        <div class="icon"><i class="fa fa-archive fa-fw"></i></div>
        <div class="text">
        <div class="date"></div>
        <div class="date"></div>
        <a href="{{ site.base }}/news/"> Mais Notícias</a>
        </div>
    </li>
{% endif %}
    <li>
        <div class="icon"><i class="fa fa-rss fa-fw"></i></div>
        <div class="text">
        <div class="date"></div>
        <div class="date"></div>
        <a href="{{ site.base }}/news/news.xml"> Notícias via Feed RSS</a>
        </div>
    </li>
</ul>
<br>
<!-- h2>Localização</h2>
<div class="row">
    <div class="col-md-8 col-md-push-4">
    <div class="embed-responsive embed-responsive-16by9" style="text-align:center">
        <iframe src="http://umap.openstreetmap.fr/en/map/laai_184641?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false&fullscreenControl=false#17/-1.47446/-48.45632"></iframe>
    </div>
    </div>
    <div class="col-md-4 col-md-pull-8">
        <p></p>
        <p></p>
        <p></p>
        <div style="text-align:center;color:#bbb;"><i class="fa fa-map-marker fa-3x fa-fw center"></i></div>
        <p></p>
        Universidade Federal do Pará<br>
        Campus Universitário do Guamá<br>
        Instituto de Ciências Exatas e Naturais<br>
        Centro de Competência em Software Livre<br>
        <p></p>
        Rua Augusto Corrêa n. 01 - Guamá<br>
        CEP 66075-110<br>
        Belém - PA - Brasil<br>
        <br>
        <p><i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>Lat: -1.4745 Lon: -48.4564<br>
        <i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>GPS: 1°28'28.344''S, 48°27'23.108''W<br>
        <i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>Endereço no <a href="https://www.google.com.br/maps/place/Instituto+de+Ci%C3%AAncias+Exatas+e+Naturais+(ICEN)/@-1.4745399,-48.4586076,17z/data=!3m1!4b1!4m5!3m4!1s0x92a48d9574d13b1f:0x3a6e562cb7215bec!8m2!3d-1.4745399!4d-48.4564189?hl=pt-BR">Google Maps</a><br>
        <i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>Endereço no <a href="http://osm.org/go/N~PUnaYFB-?layers=N&m=">OpenStreetMap</a></p>
    </div>
</div -->
