---
layout: default
title: 
---

  <div class="row">
  <div class="col-md-9">
  <p>{{ page.description | markdownfy }}</p>
  </div>
  <div class="col-md-3" style="text-align:left;">
  {% if page.leader != nil %}
    <p><b>Coordenador</b></p>
    <p>
      <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i> <a href='{{ site.base }}/people/{{ page.leader | sanitize_filename }}'>{{ page.leader }}</a>
    </p>
  {% endif %}
  {% if page.collaborators[0].name != nil %}
    <p><b>Colaboradores</b></p>
    <p>
    {% for collaborator in page.collaborators %}
    <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i> {% if collaborator.link != nil %}<a href='{{ collaborator.link }}'>{% endif %}{{ collaborator.name }}{% if collaborator.link != nil %}</a>{% endif %} {% if collaborator.institution != nil %}({{ collaborator.institution }}){% endif %}<br>
    {% endfor %}
    </p>
  {% endif %}
  {% if page.students[0].name != nil %}
    <p><b>Estudantes</b></p>
    <p>
    {% for student in page.students %}
    <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i> <a href='{{ site.base }}/people/{{ student.name | sanitize_filename }}'>{{ student.name }}</a><br>
    {% endfor %}
    </p>
  {% endif %}
  {% if page.funding[0].sponsor != nil %}
    <p><b>Financiamento</b></p>
    {% for funding in page.funding %}
    <i style="color:#bbb;" class="fa fa-money fa-fw"></i> {{ funding.sponsor }}<br>
    {% endfor %}
    </p>
  {% endif %}
  <p><b>Data de execução</b></p>
  <p><i style="color:#bbb;" class="fa fa-calendar fa-fw"></i> {{ page.date_begin }} -
    {% if page.date_end != nil %}
        {{ page.date_end }}
    {% else %}
        Atualmente
    {% endif %}
  </p>
  {% if page.link != nil %}
    <p><b>Mais Informações</b></p>
    <p><i style="color:#bbb;" class="fa fa-globe fa-fw"></i> <a href='{{ page.link}}'>Webpage</a></p>
  {% endif %}
  </div>
  </div>
